body {
    margin: 0px;
    justify-content: center;
}


header {
    background-color: #000000;
    max-height: 100px;
}

header h1 {
    display: inline-block;
    background-color: #FFE81F;
    color: #000000;
    padding-left: 2%;
    font-size: 300%;
    margin-top: 25px;
}

header nav {
    float: right;
}

header nav a {
    margin-right: 20px;
    float: left;
    color: #FFE81F;
    text-align: center;
    padding: 25px 16px;
    text-decoration: underline;
    margin-top: 5px;
    font-size: 30px;
}

.subheader {
    background-image: url("./images/galaxy-header.jpg");
    background-size: cover;
    margin: 0px;
    height: 300px;
}

#subheader-text {
    display: flex;
    background-color: #FFE81F;
    float:right;
    margin-top: 200px;
    font-size: 50px;
}

.aside {
    float:left;
    display: flex;
    flex-direction: column;
    margin: 50px 25px 50px 25px;
    padding: 5px;
    height: auto;
    width: 10%;
    border-right: 4px solid #000000;
    font-size: 35px;
    position: absolute;
}

#about-me {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    padding: 2%;
    font-size: 23px;
}

#img-of-me {
    width: 250px;
    margin: 20px;
    height: 225px;
}

.card {
    padding-bottom: 16px;
}

.card-wrapper {
    padding-left: 50px;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 30cm;
    padding-left: 16px;
    padding-right: 16px;
}

img {
    width: 100%;
    object-fit: contain;
    display: block;
    justify-content: center;
}

footer ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 14px 10px;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 175px;
    font-size: 25px;
    float: left;
}

a:hover {
    background-color: #FFE81F;
    color:#000000;
}
